/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "./vars.css";
/* @import "./components/global.css"; */
/* @import "./components/buttons.css"; */
/* @import "./components/forms.css"; */

/* Ghost components */
/* @import "./ghost/content.css"; */
/* @import "./ghost/header.css"; */
/* @import "./ghost/readmore.css"; */
@import "./ghost/members.css";
@import "./ghost/errors.css";
@import "./ghost/footer.css";
@import "./ghost/badge.css";
@import "./ghost/pagination.css";
@import "./ghost/comments.css";

@import "tailwindcss";
@source not "../built";

@theme {
    --color-plastic-orange: oklch(0.6908 0.2339 42.29);
    --color-plastic-beige: oklch(0.9132 0.0203 65.13);
    --color-plastic-gray: oklch(0.3279 0.0077 270.8);
    --color-print-gray: oklch(0.326 0.0125 140.47);
    --color-print-blue: oklch(0.5369 0.206 285.53);
    --color-silicone-gray: oklch(0.7092 0.0084 65.13);
    --color-vfd-dark: oklch(0.1647 0.0119 179.16);
    --color-vfd-light: oklch(0.8056 0.0829 180.5);
    --color-display-black: oklch(0.1528 0.0302 253.71);
    --font-sans: Lexend, sans-serif;
    --font-vfd: Doto, monospace, sans-serif;
    --font-segment: Segment, monospace, sans-serif;
    --font-condensed: Outward, sans-serif;
    --font-pixel: Terminal Grotesque, sans-serif;
    --font-scifi: Millimetre, monospace;
}

@utility screendoor {
    mask-image: var(--screendoor-img);
    mask-repeat: repeat;
    mask-size: 2px 2px;
    mask-mode: luminance;
    image-rendering: crisp-edges;
}

@utility text-menu {
    @apply text-2xl font-sans font-bold;
}

@utility btn-menu {
    @apply text-menu text-center p-4 w-full block rounded-full;
}

figure {
    @apply bg-display-black border-16 border-black rounded-2xl relative h-min;
    &::before {
        content: "Hi-Res Image Display";
        @apply text-silicone-gray font-scifi text-[0.4cm] w-full block bg-black pl-1;
    }
    img,
    picture {
        @apply screendoor;
    }

    figcaption {
        @apply font-pixel text-white p-2 rounded-sm text-[24px] h-full;
    }
}
